body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.styledPins {
    width: 28.71px;
    height: 51.55px;
    cursor: pointer;
}

.imgStyle {
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 8.33684px;
    border-top-right-radius: 8.33684px;
}

.imgBigStyle {
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 5.43575px;
    border-top-right-radius: 5.43575px;
}

.modalclass {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 374px;
    height: 733.38px;
    left: 8px;
    /* left: 13px; */
    top: 38px;
    /* top: 50.57px; */

    background: #fbfaf9;
    border: 0.2px solid #2c5559;
    border-radius: 5.43575px;
}

@media (min-width: 1500px) {
    .modalclass {
        display: flex;
        flex-direction: row;
        /* position: relative; */

        position: absolute;
        width: 1165px;
        height: 570px;
        left: 227px;
        top: 100px;
    }

    .modalclass li {
        display: flex;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .firstModalclass {
        width: 228px;
        height: 293px;
    }
}

.arrowStyle {
    width: 28px;
    height: 18px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* .smallModalclass {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 374px;
    height: 337px;
    left: 8px;
    top: 100px;

    background: #fbfaf9;
    border: 0.2px solid #2c5559;
    border-radius: 8.33684px;
} */

.firstModalclass {
    display: flex;
    flex-direction: column;

    width: 374px;
    height: 337px;
    left: 8px;

    /* margin-left: 50px; */
    /* margin-right: 50px; */
    position: absolute;
    top: 250px;

    /* bottom: 0; */
    z-index: 10000;

    /* position: relative; */

    /* top: 400px; */

    background: #fbfaf9;
    border: 0.2px solid #2c5559;
    border-radius: 8.33684px;
}

.modalclass:focus,
.smallModalclass:focus {
    outline: none;
}

.closeStyle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    z-index: 1;
}
