body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.styledPins {
    width: 28.71px;
    height: 51.55px;
    cursor: pointer;
}

.imgStyle {
    object-fit: fill;

    position: absolute;
}

.modalclass {
    display: flex;
    flex-direction: column;

    /* gap: 15.54px;
    isolation: isolate; */

    position: relative;
    width: 374px;
    height: 770px;
    left: 8px;
    top: 38px;

    background: #fbfaf9;
    border: 0.113598px solid #000000;
    border-radius: 5.67991px;
}

.closeStyle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    /* right: 5px; */
    z-index: 1;
}
