* {
    margin: 0;
    padding: 0;
    border: none;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.styledPins {
    width: 28.71px;
    height: 51.55px;
    cursor: pointer;
}

.modalclass {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 75.62px;
    isolation: isolate;
    z-index: 9999;

    position: relative;
    width: 368px;
    height: 733.38px;
    /* left: 13px;
    top: 50.57px; */

    background: #fbfaf9;
    /* Secondary/Dark green */

    border: 0.2px solid #2c5559;
    border-radius: 5.43575px;

    /* overlay {
        z-index: 9999;
        width: 368px;
        height: 733.38px;
        backgroundcolor: #fbfaf9;
    } */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
