.footerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fbfaf9;
    z-index: 1;
    padding: 10px 0px;
    margin-bottom: auto;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsContainer {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
}

.iconButton {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.iconImage {
    width: 50px;
    height: 50px;
}

.iconText {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    color: #222121;
}

@media (max-width: 780px) {
    .footerContainer {
        justify-content: flex-start;
    }
}

@media (min-width: 500px) and (max-width: 780px) {
    .footerContainer {
        justify-content: center;
    }
}

@media (min-width: 781px) {
    .footerContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
        height: auto;
        width: fit-content;
        max-width: 200px;
        left: 10px;
        top: 230px;
        bottom: 50px;
        background-color: transparent;
    }

    .iconsContainer {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        overflow-x: visible;
        white-space: normal;
    }

    .loadedIconImage {
        width: 110px;
        height: auto;
    }

    .iconButton {
        margin-bottom: 0;
    }

    .iconText {
        margin-top: 0;
        display: none;
    }
}
